   Name:  {{order.brand}} <br>
          Size: {{order.size}} <br>
          Qunatity:  {{order.quantity}} <br>
          Ordered On:   {{order.order_date}} <br>
          Deliver By:  {{order.deliver_by}} <br>
          Payment Mode:    {{order.payment_mode}} <br>
          Status:   {{order.status}} <br>
          Delivered?:  {{order.status.delivery_status}} <br>
          Delivered On:  {{order.audit.actual_delivery_date}} <br>
          Payment Received?:  {{order.payment_received}} <br>
          
        <button> 
        <a [routerLink]="['/editorder',order._id]" *ngIf="orderedit">Edit</a>
        </button>
        